@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Vidaloka&display=swap');
:root {
    --primary-color: #141b41;
    --secondary-color: #295e96;
    --accent1-color: #bb7e50ef;
    --accent2-color: #615e3f;

    --heading-font: 'Vidaloka', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #DBB68F;
    --nav-link-color: #141B41;
    --nav-hover-link-color: #295e96;
    --nav-hover-background-color: #615e3f;
}

body {
    max-width: 1600px;
    background-color: var(--secondary-color);
    text-align: center;
}

.hero {
    position: relative;
}

.hero h1{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background-color: var(--nav-hover-background-color);
    padding: 1rem;
    opacity: 0.82;
}

.hero article{
    position: absolute;
    top: 8rem;
    background-color: var(--nav-hover-background-color);
    color: #fff;
    padding: 1rem;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.78;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img{
    width: 200px;
    float: right;
    padding: 1px;
}


header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 2rem;
    background-color: #fff;
}

header img {
    width: 150px;
    border-radius: 20;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
}

.content p, .content img {
    flex: 1;
    padding: 10px;
}


.history img {
    width: 250px;
    border-radius: 20;
}

figure {
    display: inline-block;
    width: 18%;
    margin: 0;
    padding: 0;
    text-align: center;
}

figcaption {
    color: lightgrey;
    padding: 1px;
}

.adventure {
    background-color: var(--nav-hover-background-color);
    padding: 1px;
}

.adventure img {
    width: 155px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    background-color: #fff;
    font-size: larger;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--primary-color);
}

nav a:hover{
    color: #fff;
    background-color: var(--nav-hover-link-color);
}

article{
    text-align: center;
}

article img{
    width: 200px;
    float: right;
}

h1{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace
}

h2 {
    color: #fff;
    text-align: center;
    background-color: var(--nav-hover-background-color);
    margin-top: 10px;
}

.history h2 {
    background-color: var(--nav-hover-link-color);
    color:#141B41;
}

footer {
    display:grid;
    grid-template-columns: auto 160px;
    background-color: var(--secondary-color);
    color:#fff;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

footer div{
    text-align: right;
}

footer img {
    width: 50px;
}
